@use '../../styles//main.scss';

.nav {
	background-color: main.$black;
	padding: 10px;
}

.list {
	list-style: none;
	display: flex;
	justify-content: flex-end;
	margin: 0 auto;
	width: 1000px;
	margin-block: 0.5rem;
}

.item {
	margin: 0;
}

.link {
	text-decoration: none;
	color: main.$cream;
	font-weight: bold;
	font-size: 16px;
	padding: 10px;
	border-radius: 5px;
	transition: background-color 0.3s ease-in-out;

	&:hover {
		background-color: lighten(main.$black, 20%);
	}
}
